body{
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 20px;
    background-color: #CAE7B9;
}

/* Status bar */

.status-bar{
    display: flex;
    gap: 20px;
    margin: -20px -20px 12px -20px;
    padding: 12px;
    background-color: #A3D585;
}

.stat{
    margin-top: 3px;
}

.music-toggle{
    margin-left: 580px;
}

.main-content{
    display: flex;
    gap: 20px;
}

/* Left panel styling */

.left-panel{
    flex: 2;
    gap:20px;
}

.stock-header{
    margin-bottom: 16px;
}

/* Right panel styling */

.right-panel{
    flex: 1;
    font-size: 13px;
}

.right-panel button {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 8px;
}

.stock-chart{
    height: 50vh;
}

.refresh-timer{
    margin-bottom: 16px;
}

.call-column, .put-column{
    margin-bottom: 20px;
}

.current-positions{
    margin-top: 20px
}

.positions-list {
    font-size: 10px;
    max-height: 181px;
    overflow-y: auto;
    border: 2px solid #000;
    padding: 2px;
}