body{
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 20px;
    background-color: #CAE7B9;
    overflow: hidden;
}

/* Start page */
#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CAE7B9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.start-text {
    text-align: center;
}

.start-content h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

.start-content p {
    font-size: 32px;
    margin-bottom: 40px;
}

#start-button {
    font-family: 'Press Start 2P';
    font-size: 16px;
    padding: 16px 32px;
}

/* Game over page */
.game-over-content {
    text-align: center;
    gap: 20px;
}

#game-over-quote{
    margin: 40px
}

.final-stats{
    gap: 40px;
    margin: 40px
}

#game-over-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CAE7B9;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

/* Status bar */

.status-bar{
    display: flex;
    gap: 20px;
    margin: -20px -20px 12px -20px;
    padding: 12px;
    background-color: #A3D585;
    justify-content: space-between;
}

.stat{
    margin-top: 5px;
}

#give-up-button{
    background-color: rgb(225, 103, 103);
}

.main-content{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/* Left panel styling */

.left-panel{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.stock-header{
    margin-bottom: 16px;
}

.stock-chart{
    height: 50vh;
    margin-bottom: 0;
}

.advisor-talking{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sprite-image {
    width: 180px;
    height: 180px;
    margin-top: -40px;
}

/* Right panel styling */

.right-panel{
    flex: 1;
    font-size: 13px;
}

.right-panel button {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 8px;
}

.refresh-timer{
    margin-bottom: 16px;
}

.call-column, .put-column{
    margin-bottom: 20px;
}

.current-positions{
    margin-top: 20px
}

.positions-list {
    font-size: 10px;
    max-height: 190px;
    overflow-y: auto;
    border: 2px solid #000;
    padding: 2px;
}